.btn{
    padding:10px;
    text-decoration: none;
    border-radius: 5px;
    background:$blue-grey;
    color:white;
    display: inline-block;
    min-width: 100px;
    text-align: center;
    border:3px solid $blue-grey;
    &:hover{
        cursor: pointer;
        box-shadow: 1px 1px 3px black;
    }
}

.clickable{
	cursor: pointer;
}


.btn-primary{
    background:$primary;
}

.btn-danger{
    background: $danger;
}

.btn-success{
    background: $success;
}