@import '__variables';

.bg-red{
    background:$red !important;
    color:white;
}

.bg-green{
    background: $green !important;
    color:white;
}

.bg-blue{
    background: $blue !important;
    color:white;
}

.bg-light-blue{
    background: $l-blue !important;
}

.bg-cyan{
    background: $cyan !important;
    color:white;
}

.bg-grey{
    background: $grey !important;
    color:white;
}

.bg-blue-grey{
    background: $blue-grey !important;
    color:white;
}

.bg-white{
    background: white !important;
    color:black;
}

.bg-black{
    background:black !important;
    color:white;
}

.bg-amber{
    background:$amber !important;
    color:white;
}

.bg-teal{
    background:$teal !important;
    color:white;
}

.bg-none{
    background: none !important;
}

.bg-primary{
    background:$primary !important;
    color:white;
}

.bg-success{
    background:$success !important;
    color:white;
}

.bg-danger{
    background:$danger !important;
    color:white;
}

.bg-alert{
    background:$alert !important;
    color:white;
}

.white{
    color:white;
}

.red{
    color:$red;
}

.green{
    color:$green;
}

.blue{
    color:$blue;
}

.black{
    color:black;
}

.grey{
    color:$grey;
}
