$grid-cols:12;

.row{
  display: flex;
  flex-flow: row wrap;
  &.reverse{
    flex-direction: row-reverse;
  }
  &.center{
    justify-content: center;
  }
}

.order-1 {
	order: 1;
}

.order-2 {
	order: 2;
}

.order-0 {
	order: 0;
}

.container{
  max-width: 768px;
  margin: 0 auto;
  &-fluid{
    max-width: 100%;
    margin:0;
  }
}

[class^="col"]{
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  box-sizing: border-box;
  &.center{
    align-items: center;
  }
}

.align-start{
	align-items: flex-start;
}

.col-1{
  width: 100%;
}

@for $i from 1 through ($grid-cols)-1{
  @for $j from $i+1 through $grid-cols{
    .col-#{$i}-#{$j}{
      flex-basis: ($i/$j)*100%;
    }
  }
}
