.tabs{
	display:flex;
	list-style-type:none;
	padding:7px;
	background:rgba(0,63,63,0.5);
	border-radius:7px;
    justify-content:center;
    
    &.tab-item:first-child{
        border-radius:5px 0 0 5px
    }

    &.tab-item:last-child{
        border-radius:0 5px 5px 0;
    }
}

.tab-item{
    background:#263238;
    padding:5px;
    width:150px;
    text-align:center;
    cursor:pointer;
    &.active{
        background:#212121;
        color:white;
    }
}

.tab-contents{ 
    .tab{
        display: none;
    }
}
