.table {
	width: 100%;
    border-collapse: collapse;
    thead {
        border-bottom: 1px solid black;
    }
}

td,th{
    padding:7px;
}

tbody tr:hover {
	background: #B2EBF2 !important;
}
table.stripe tr:nth-child(even){
	background:#f2f2f2
}