.toast{
	display: flex;
	position:fixed;
	bottom:0;
	margin:15px;
	width:90%;
	background:#0288D1;
	color:white;
	z-index:999;
	padding:15px;
	border-radius:7px;
    box-shadow:3px 3px 4px black;
    
    .message{
	margin-right:auto;
    }

    &.rtl .message{
        margin-right:0;
        margin-left:auto;
    }

    .close{
        cursor: pointer;
    }

}