$red:#b71c1c;
$pink:#C2185B;
$purple:#7B1FA2;
$d-purple:#512DA8;

$blue:#1976D2;
$l-blue:#0288D1;
$cyan:#0097A7;
$teal:#00796B;

$green:#388E3C;
$l-green:#689F38;
$lime:#AFB42B;
$teal:#00695C;

$orange:#F57C00;
$amber:#FF8F00;
$brown:#5D4037;

$grey:#212121;
$blue-grey:#263238;

$primary:$l-blue;
$danger:#d32f2f;
$success:$green;
$alert:$amber;